<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Profesores</title>
    <!-- Incluye los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-4">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Listado de profesores</h3>
                </div>
                <div class="col-sm-6">
                    <a href="/profesores/agregar" class="btn btn-success d-block text-white">Agregar profesor</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-4">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Profesión</th>
                        <th scope="col">Género</th>
                        <th scope="col">Email</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each profesores}}
                    <tr>
                        <th scope="row">{{idprofesor}}</th>
                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>
                        <td>{{fecha_nacimiento}}</td>
                        <td>{{profesion}}</td>
                        <td>{{genero}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="/profesores/editar/{{idprofesor}}" class="btn btn-primary text-white">Modificar</a>
                            <a href="/profesores/eliminar/{{idprofesor}}" class="btn btn-danger text-white">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Incluye los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>